extends ./layout
block content				
				.inner.cover
					h1.cover-heading='<< Contact Information >>'
					.col-sm-12
						.card.text-white.bg-primary.mb-3(style='max-width: 60rem;')
							.card-header
								span(style='color:#000000')
									p(style='font-size:20px').card-text Jeongbeen Yu
							.card-body
								p(style='font-size:15px').card-text bin1509203@korea.ac.kr
						.card.text-white.bg-primary.mb-3(style='max-width: 60rem;')
							.card-header
								span(style='color:#000000')
									p(style='font-size:20px').card-text Jaeho Yu
							.card-body
								p(style='font-size:15px').card-text xxxxx@korea.ac.kr

					.col-sm-12
						a(href="/device/", class="btn btn-lg btn-success") Back to List
						a(href="/", class="btn btn-lg btn-default") Home


				.mastfoot
					.inner
						p @2017 Yu-brother's, Inc.